#profile-img {
  display: block;
  margin: 20px auto;
  width: 20%;
  border-radius: 100% / 95%;
}

.page-header {
  text-align: center;
}

.my-paragraph {
  text-align: justify;
  text-indent: 1em;
}

.my-page-name {
  text-align: center;
  margin-bottom: 20px;
}

.nav-tabs {
  margin-top: 10px;
}

span {
  float: left;
  margin: 0 2% 0 0;
  width: 30%;
}

img {
    width: 85%;
}

#my-link-section h3{
  text-align: center;
}

#my-link-body{
  margin: 2% 20%;
  text-align: left;
}

#my-link-body ol {
  margin: 2% 0;
}

.my-footer {
  margin-top: 20px;
  text-align: center;
}
