#profile-img {
  display: block;
  margin: 20px auto;
  width: 20%;
  border-radius: 100% / 95%;
}

.page-header {
  text-align: center;
}

.my-paragraph {
  text-align: justify;
  text-indent: 1em;
}

.my-page-name {
  text-align: center;
}

.nav-tabs {
  margin-top: 10px;
}

/*#recovery-img {
  float: left;
  width: 10%;
}*/

.my-footer {
  margin-top: 20px;
  text-align: center;
}
