.container {

}

.page-header {
  text-align: center;
}

.my-paragraph {
  text-align: justify;
  text-indent: 1em;
}

.my-page-name {
  text-align: center;
}

.nav-tabs {
  margin-top: 10px;
}

/*#recovery-img {
  float: left;
  width: 10%;
}*/
